<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
  <h1>
    Welcome to {{ title }}!
  </h1>

<input id="input" type="text" size="30" pInputText [(ngModel)]="score">

<p-button [disabled]="score.length===0" label="Submit"></p-button>

<p-table [value]="frames">
  <ng-template pTemplate="header">
    <tr>
      <th>Num</th>
      <th>Input</th>
      <th>CurrentScore</th>
      <th>TotalScore</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-frame>
    <tr>
      <td>{{frame.num}}</td>
      <td>{{frame.input}}</td>
      <td>{{frame.currentScore}}</td>
      <td>{{frame.totalScore}}</td>
    </tr>
  </ng-template>
</p-table>


<router-outlet></router-outlet>
